Screen {
    overflow: auto;
}

Horizontal {
    height: 80%;
    width: auto;
    align: center middle;
}

Obfuscator {
    width: 100%;
    height: 20%;
    align: center middle;
    display: block;
}