Code_Display {
    border: solid $primary-background-lighten-3;
    overflow: scroll scroll;
}

Code_Display:focus {
    border: solid $accent;
}

RichLog {
    border: solid $primary-background-lighten-3;
    overflow: scroll scroll;
}

RichLog:focus {
    border: solid $accent;
}

Center {
    padding: 2;
}